@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Oliver and Noah's playground.</p>
<ul>
    <li>Source code: <a href="http://github.com/olilanz/mini-game">http://github.com/olilanz/mini-game</a>.</li>
    <li>Docker image: <a href="https://hub.docker.com/r/olilanz/mini-game/">https://hub.docker.com/r/olilanz/mini-game/</a>.</li>
    <li>Build system: <a href="https://dev.azure.com/ocl-simcorp/mini-game/_build/latest?definitionId=2">https://dev.azure.com/ocl-simcorp/mini-game/_build/latest?definitionId=2</a>.</li>
</ul>