@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Oliver and Noah's playground.</p>
<p>Find the source code on <a href="http://github.com/olilanz/mini-game">http://github.com/olilanz/mini-game</a>.</p>

