@page
@model GameModel
@{
    ViewData["Title"] = "Game";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    <iframe id="gameContainer" src="/gamecore/index.html"></iframe>
</p>

<p>Open in standalone mode: <a id="gameFullscreen" href="/gamecore/index.html">link</a></p>

<script>
    // copies the url query string from the page into the iframe, 
    // so that it can be picked up by the game
    var params = window.location.search;

    container = document.getElementById("gameContainer");
    container.src = container.src + params;

    container = document.getElementById("gameContainer");
    container.src = container.src + params;
</script>
