@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

<form class="text-center"id="login_form" action="/Game" method="GET">
    <caption>Player Name:</caption>
    <input type="text" name="playerName" value="@Model.GetRandomPlayerName()">
    <br>
    <input type="submit" value="Start Game" />
</form>

