@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<form id="login_form" action="/Game" method="GET">
    <caption>Player Name:</caption>
    <input type="text" name="playerName" value="Player1">
    <br>
    <input type="submit" value="Start Game" />
</form>

