@page
@model IndexModel
@{
    ViewData["Title"] = "Game";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    <div class="row" id="game-canvas">
    </div>
</p>

<p>Open the game on its own: <a href="/gamecore/index.html">link</a></p>
