@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    <caption>Player Name:</caption>
    <input type="text" name="playerName" value="Player1">
    <br>
    <caption>Team</caption>
    <input type="text" name="teamName" value="Team1">
    <br>
    <input type="button" name="startGame" value="Start Game" onclick="startGame();" />
</p>

<script>
    function startGame() {
        var params = new URLSearchParams();
        params.append("player", document.getElementsByName("playerName")[0].value);
        params.append("team", document.getElementsByName("teamName")[0].value);
        window.location='/Game?' + params;
    }
</script>

